@if (User.Identity.IsAuthenticated)
{
	using (Html.BeginForm("Logout", "Member", new { area = "" }, FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
	{
		@Html.AntiForgeryToken()

		@*<ul class="nav navbar-nav navbar-right"></ul>*@
		<li>
			@{
				<a style="color:lightblue;">Hello @(User.Identity.Name)!</a>
			}
		</li>
		<li><a href="javascript:document.getElementById('logoutForm').submit()">登出</a></li>

					}
				}
				else
				{
					@*<ul class="nav navbar-nav navbar-right"></ul>*@
					<li>@Html.ActionLink("註冊", "Register", "Member", routeValues: new { area = "" }, htmlAttributes: new { id = "registerLink" })</li>
					<li>@Html.ActionLink("登入", "Login", "Member", routeValues: new { area = "" }, htmlAttributes: new { id = "loginLink" })</li>

				}
